.flex{
    display: flex;
    width: 20%;
    justify-content: space-between;
}

.story{
    background-color: #edf2f2 !important;
    border-radius: 30px !important;
    margin: 10px !important;
}

.story-head{
    background-color: #09a309f8 !important;
    border-radius: 20px !important;
    font-weight: bolder !important;
    color: white !important;
}

.bottom-pad{
    padding-bottom: 20px;
}
.custom{
    display: inline-block;
    width: 100px;
    margin:auto;
}
